.card-container {
  margin: 5px;
  float: left;
}
.card-img-top {
  height: 170px !important;
}
.card-body {
  height: 180px !important;
}

.card-body-content {
  display: flex;
  flex-direction: column;
}
.card-body-title {
  font-weight: 300;
  font-size: 12px;
}
.card-body-value {
  font-weight: 400;
  font-size: 12px;
}
